<div class="card text-center shadow" [ngClass] = "{
    'border-danger' : driver.likeIts < 0,
    'border-success' : driver.likeIts > 0
}">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{driver.fullName | titlecase }}</h2>
    </div>
    <div class="card-body">
        <img [src]="driver.coverImage" class="img-fluid" alt="photo {{driver.name}}">
        <hr>
        <p>
            <span *ngIf="driver.pays">Origine: {{driver.pays | uppercase }}</span>
            <span *ngIf="driver.pays == null"> Origine: NC</span>
        </p>
        <p [ngClass]="{
            'badge': true,
            'badge-success':driver.category === 'gymkhana',
            'badge-primary':driver.category === 'nascar',
            'badge-info':driver.category === 'rallye',
            'badge-danger':driver.category === 'drag',
            'badge-warning':driver.category === 'formule 1'
        }">>
            <span *ngIf="driver.category">Discipline: {{driver.category | titlecase }}</span>
            <span *ngIf="driver.category ==''"> Discipline: NC</span>
        </p>

        <p>
             {{driver.fullName | titlecase}} a {{driver.likeIts}} Like<span *ngIf="driver.likeIts >1 || driver.likeIts <-1">s</span>
        </p>
        <div class="row justify-content-center">
            <button (click)="onLike()" class='btn btn-success mx-2'><i class="fas fa-thumbs-up"></i></button>
            <button (click)="onDislike()" class='btn btn-danger'><i class="fas fa-thumbs-down"></i></button>
        </div>
       
    </div>
</div>