<h1>Créer une voiture</h1>
<div class="col-6 border shadow my-5 p-5">
    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" > 
        <div class="form-group">
            <label for="name">Nom de la voiture</label>
            <input type="text" class="form-control" name="name" id="name" ngModel>
        </div>
        <div class="form-group">
            <label for="pays">Pays d'origine</label>
            <input type="text" class="form-control" name="pays"  id="pays" ngModel>
        </div>
        <div class="form-group">
            <label for="coverImage"> Photo de la voiture (url)</label>
            <input type="text" class="form-control" name="coverImage" id="coverImage" ngModel>
        </div>
        <div class="form-group">
            <label for="power">Puissance</label>
            <input type="number" class="form-control" name="power" id="power" ngModel>
        </div>
        <div class="form-group">
            <label for="perf">Temps de 0 à 100 km/h</label>
            <input type="number" class="form-control" name="perf" id="perf" ngModel>
        </div>
        <button type="submit" class="btn btn-success my-5">Enregistrer</button>
    </form>
</div>