<h1>Ajouter un pilote</h1>
<div class="col-6 border shadow my-5 p-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="driverForm"> 

        <div class="form-group">
            <label for="fullName">Nom Prénom</label>
            <input type="text" class="form-control" formControlName="fullName" id="name" ngModel>
            
        </div>

        <div class="form-group">
            <label for="pays">Pays d'origine</label>
            <input type="text" class="form-control" formControlName="pays"  id="pays" ngModel>
        </div>

        <div class="form-group">
            <label for="coverImage"> Photo du pilote (url)</label>
            <input type="text" class="form-control" formControlName="coverImage" id="coverImage" ngModel>
        </div>

        <div class="form-group">
            <label for="category">Discipline</label>
            <input type="text" class="form-control" formControlName="category" id="category" ngModel>
        </div>
       
        <button type="submit" [disabled]="driverForm.invalid" class="btn btn-success my-5">Enregistrer</button>

    </form>
</div>