<h1 class="my-5">
    Nos Pilotes
</h1>
<!--

<div *ngIf="isOnline" class="p-5 card bg-info">

    <h2>{{book.title}}</h2>

    <p>{{book.author}}</p>

    <p>
        <span *ngIf="book.price">Prix: {{book.price}} €</span>
        <span *ngIf="book.price == null">Non communiqué</span>
    </p>
</div>

<div class="p-5 card bg-warning">
    <ul>
        <li *ngFor="let game of games">
            {{game}}
        </li>
    </ul>
    <p *ngFor="let x of games; let i = index">
       {{i}} {{x | uppercase}}
    </p>
</div>

<p [style.background-color]="colorOne">
    Style.color est une couleur en props!
</p>

<p [style.color]="getColor()">
    Style.color peut également fonctionner avec une méthode!
</p>

<p [style.background-color]="'gold'">
    Style.color fonctionne comme ça mais pas ouf donc à éviter
</p>

<h2 [style.background-color]="onOff ? colorOne : getColor() " >
    affichage selon une condition 
    <br>
    ok nice 
</h2>

<button  (click)="onSwitch()" class="btn btn-info my-5">
<span *ngIf="!onOff">ON</span>
<span *ngIf="onOff">OFF</span>
</button>

<div [ngStyle]="{ color:colorOne,
                    margin:marginPts,
                    padding:'20px'
                }" >
    Avec du ngStyle maintenant
    Déclare un objet dedans
    Donc on peut en mettre plusieurs, donc plus de possibilité!
</div>

<p [ngClass]="{'text-center':true}">
    Pk cette voix de merde
</p>

<div class="card shadow text-center"> 
    <h2>
        {{product.label}}
    </h2>
    
    <hr>

    <p>
        {{product.price}} 
        €
    </p>

    <hr>

    <p>quantité:
        <span class="badge" [ngClass]="{

            'badge-success': product.stock > 5,

            'badge-warning': product.stock <= 5,
            
            'badge-danger': product.stock ==  0
        }">

            {{ product.stock }} en stocks
        </span>
    </p>

</div>

<p [ngClass]="{'text-center':onOff}">
    Style editeur de texte live, façon FB, snapchat etc
</p>
<button (click)="onSwitch()" class="btn btn-warning">
    centrer
</button>
-->
