<h1 class="my-5">
    Nos Pilotes
</h1>

<div *ngIf="isOnline" class="p-5 card bg-info">

    <h2>{{book.title}}</h2>

    <p>{{book.author}}</p>

    <p>
        <span *ngIf="book.price">Prix: {{book.price}} €</span>
        <span *ngIf="book.price == null">Non communiqué</span>
    </p>
</div>

<div class="p-5 card bg-warning">
    <ul>
        <li *ngFor="let game of games">
            {{game}}
        </li>
    </ul>
    <p *ngFor="let x of games; let i = index">
       {{i}} {{x | uppercase}}
    </p>
</div>