<div class="card text-center shadow">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{car.name | titlecase }}</h2>
    </div>
    <div class="card-body">
        <img [src]="car.coverImage" class="img-fluid" alt="photo {{car.name}}">
        <hr>
        <p>
            <span *ngIf="car.pays">Origine: {{car.pays | uppercase }}</span>
            <span *ngIf="car.pays ==''"> Origine: Non communiquée</span>
        </p>
        <p>Puissance: {{car.power}} CH</p>

        <p>
            <span *ngIf="car.perf">0 à 100km/h: {{car.perf}} sec </span>
            <span *ngIf="car.perf == null OR car.perf < 0 ">NC</span>         </p>
        <p>{{bookingMessage}}</p>
        <button class="btn btn-primary" (click)="onBooking()" [disabled]="isBooked">Réserver</button>
    </div>
</div>
<hr>