<div class="card text-center shadow">
    <div class="card-header bg-dark text-white ">
        <h2 class="card-title">{{car.name | titlecase }}</h2>
    </div>
    <div class="card-body bg-dark text-white">
        <img [src]="car.coverImage" class="img-fluid" alt="photo {{car.name}}">
        <hr>
        <p>
            <span *ngIf="car.pays">Origine: {{car.pays | uppercase }}</span>
            <span *ngIf="car.pays ==''"> Origine: NC</span>
        </p>
        <p [ngClass]="{
            'badge': true,
            'badge-warning':car.power> 1000,
            'badge-info':car.power <= 1000
        }">
            <span *ngIf="car.power">Puissance : {{car.power}} CH</span>
            <span *ngIf="car.power == null"> Puissance : NC</span>
         </p>
         <p>
            <span *ngIf="car.perf  && car.perf > 0 ">0 à 100km/h: {{car.perf}} sec </span>
            <span *ngIf="car.perf == null || car.perf < 0">Perf: NC</span>
        </p>

        <p [ngClass]="{'text-success':isBooked}">{{bookingMessage}}</p>
        <button class="btn btn-primary" (click)="onBooking()" [disabled]="isBooked">Réserver</button>
    </div>
</div>
<hr>